# Airflow Configuration
AIRFLOW_UID=50000
AIRFLOW_GID=0

# OpenWeatherMap API
# Получить бесплатный ключ: https://home.openweathermap.org/users/sign_up
OPENWEATHER_API_KEY=your_api_key_here

# MinIO / S3 Configuration
RAW_DATA_BUCKET=raw-data
REPORTS_BUCKET=reports
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

# PostgreSQL Configuration
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow
POSTGRES_MULTIPLE_DATABASES=retail_db

# ETL Database User
ETL_USER=etl_user
ETL_PASSWORD=etl_password

# Airflow Connections
AIRFLOW_CONN_POSTGRES_DEFAULT=postgresql://etl_user:etl_password@postgres/retail_db
AIRFLOW_CONN_MINIO_DEFAULT=aws://minioadmin:minioadmin@?endpoint_url=http://minio:9000

# Airflow Variables
AIRFLOW_VAR_RAW_DATA_BUCKET=raw-data
AIRFLOW_VAR_REPORTS_BUCKET=reports
AIRFLOW_VAR_OPENWEATHER_API_KEY=${OPENWEATHER_API_KEY}